# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
build/
*.iml
proguard-rules.pro
libs/
src/main/java/com/xinxiong/.DS_Store
src/main/java/com/xinxiong/androidutilsdemo/recyclerview/
src/main/res/drawable/
